.pokemon-details {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(177, 207, 212);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 500px;
    width: 100%;
}

.pokemon-details img {
    display: block;
    margin: 0 auto 20px;
}

.pokemon-details button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #0d0b8b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
